@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black-color: #000;
    --white-color: #fff;
  }
  

html, body {
    color: var(--white-color);
    background-color:var(--black-color);
    font-family: 'Fira Code', monospace;
}

.rav__content {
  width: 100%;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rav__header {
  padding: 1rem 0;
  position: relative;
  background-color: #0b0116;
  border-bottom: 1px solid #6500ff;
}


.rav__header .rav__content {
  position: relative;
  z-index: 2;
}

.rav__header:before {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url(../public/assets/images/raveenita-logo.png);
}


.rav__header:after {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .75;
  mix-blend-mode: overlay;
  background-color: #241560;
}

.rav__footer {
  padding: 1rem 0;
  margin-bottom: 2rem;
  /* background-color: #360089; */
  background-color: #0b0116;
  border: 1px solid #6500ff;
  border-left-width: 0;
  border-right-width: 0;
}

.rav__header .rav__logo {
  margin-bottom: 1rem;
}


.rav__header .header__name {
  background-color: #fff;
  font-weight: bold;
  color: #000;
  padding: 0 1rem;
  border-radius: 8px;
  position: relative;
}

.rav__header .header__name strong {
  color: #6500ff;
}

.rav__header .header__name:after {
  content: "";
  border-color: #fff transparent   transparent   transparent;
  border-style: solid;
  border-width: 8px;
  content: "";
  right: 30px; 
  position: absolute;
  bottom: -16px;
} 

.rav__posts {
  margin: 5rem 0;
  display: flex;
  flex-wrap: wrap;
}

.rav__tags {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;
}

.rav__tags .rav__tag {
  padding-right: .75rem;
  padding-left: .75rem;
  border-radius: 8px;
  display: inline-block;
  background-color: #6500ff;
}

.rav__posts .posts__header {
  margin-bottom: 2rem; 
  width: 100%;
}

.rav__posts .posts__header .header__title {
  text-align: left;
  font-size: 1.5rem;
}
  
  .rav__posts:hover > .rav__post::after {
    opacity: 1;
  }
  
  .rav__post{
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #2c2c2c;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    position: relative;
    width: 100%; 
    transition: all .3s; 
  }

  .rav__post:hover  {
    padding-left: 2rem;
  }

  .rav__post:not(:last-child) {
    margin-bottom: 1rem;
  }
  
  .rav__post:hover::before {
    opacity: 1;
  }
  
  .rav__post::before,
  .rav__post::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }

  .rav__post .post__title {
    margin-right: .8rem;
  }
  
  .rav__post > .rav__post__content {
    background-color: var(--card-color);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
  }